<%# render 'components/footer' %>
<!-- Footer -->
<footer id="footer">
    <div class="social">
		<a href="https://www.facebook.com/rapolli" target="_blank">
			<img src="/images/social/facebook.jpg"/>
		</a>
		<a href="https://www.instagram.com/rapolli" target="_blank">
			<img src="/images/social/instagram.png"/>
		</a>
	</div>
    <h1 class="logo gradient-text">rapolli</h1>
    <p class="trademark">© RAPOLLI 2022</p>
    <div class="links">
        <a href="/">Home</a> •
		<a href="#">Terms</a> •
		<a href="#">Privacy</a>
    </div>
</footer>