<%# render "components/nav", cart_badge: @cart.length %>
<!-- Navigation Bar -->
<header id="nav">
  <!-- Brand -->
  <div class="logo">
    <%= link_to root_path do %>
      <!-- Icon -->
      <img src="/brand/icon.png" class="icon" />
      <!-- Logo -->
      <h1 class="logo gradient-text">parapol</h1>
    <% end %>
  </div>
</header>