.card {
    position: relative;
    margin: 16px 0;
    border: 1px solid #eee;
    border-radius: var(--card-border-radius);
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 1px 3px 6px #1111110a;
}

.card-list-item {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-column-gap: 42px;
    max-width: 712px;
    margin: 48px auto;
}

.card-list-item .title {
    font-size: 16pt;
    text-align: right;
    font-weight: 500;
    line-height: 150%;
    margin: 24px 0 0;
}

.card-list-item .card {
    width: calc(100% - 155px);
    margin: 0;
    padding: 32px;
    text-align: left;
    background: #ffffff;
}

.card-list-item .card .body {
    color: #222222;
    margin: 0;
    background: none;
    line-height: 172%;
    strong {
        font-weight: 500;
    }
}

@media screen and (max-width: 755px) {
    .card-list-item {
        display: block;
    }
    .card-list .title {
        text-align: center;
        margin: 24px auto;
    }
    .card-list .card {
        width: calc(100% - 64px);
        margin: auto;
    }
}