#landing-page {
    main {
        padding: 24px;
    }
    section {
        padding: 24px;
        text-align: center;
    }
    .section-bridge {
        width: 2px;
        height: 112px;
        background: #a83232;
        margin: -32px auto 16px;
        opacity: 0.72;
    }
    #hero {
        padding: 72px 24px 66px;
        text-align: center;
    }
    #hero-text,
    #subscribe {
        position: relative;
        z-index: 1;
    }
    #hero-text .header {
        font-size: 32pt;
        font-weight: 300;
        margin: 0;
    }
    #hero-text .sub-header {
        font-size: 15pt;
        font-weight: 400;
        line-height: 180%;
        margin: 8px auto 0;
        opacity: 0.72;
    }
    #subscribe {
        position: relative;
        display: inline-block;
        max-width: 475px;
        padding: 16px;
        margin: 32px 0 16px;
        background: #ffffff;
        border-radius: var(--card-border-radius);
        box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.08);
        z-index: 1;
    }
    #subscribe form {
        margin-bottom: -12px;
    }
    #subscribe #email-field {
        display: inline-block;
        border: 1px solid #eee;
        border-radius: var(--border-radius);
        overflow: hidden;
    }
    #subscribe input#subscriber_email {
        display: inline-block;
        width: 211px;
        font-size: 11pt;
        font-weight: normal;
        padding: 22px;
        border: none;
        background: none;
    }
    #subscribe input#subscriber_email:focus,
    #subscribe input#subscriber_email:active {
        outline: none;
    }
    #subscribe .cta {
        float: right;
        font-size: 10pt;
        width: unset;
        font-weight: 600;
        padding: 23px 32px;
        margin: 1px 0 0 12px;
        box-shadow: none;
    }
    #subscribe-prompt {
        margin: 0 0 32px;
        font-size: 9pt;
        line-height: 200%;
        span {
            color: var(--header-primary-color);
            font-weight: 500;
        }
    }
    #hero-img {
        display: none;
        width: 100%;
        max-width: 421px;
        margin: 42px auto;
    }
    #about-us {
        p {
            font-size: 14pt;
            max-width: 672px;
            margin: 24px auto;
            text-align: center;
            line-height: 186%;
        }
        p#hook {
            font-weight: 500;
        }
        img {
            max-width: 214px;
            margin: 32px auto 0;
        }
    }
    #learn-more {
        .prompt {
            font-weight: 500;
            color: var(--header-primary-color);
            margin: 0 auto 55px;
        }
        .header {
            font-size: 18pt;
            font-weight: 800;
            margin: 24px auto 10px;
            text-transform: uppercase;
        }
        .sub-header {
            font-size: 12pt;
            max-width: 624px;
            margin: auto;
            line-height: 180%;
        }
    }
    #contact-us {
        padding: 24px;
    }
    #contact-us div {
        max-width: 624px;
        text-align: center;
        padding: 62px 0 72px;
        margin: auto;
    }
    #contact-us .title {
        font-size: 24pt;
        font-weight: 700;
        color: #fafafa;
        margin: 0 32px;
    }
    #contact-us .cta {
        font-size: 11pt;
        max-width: 211px;
        margin: 26px auto 0;
        color: var(--header-primary-color);
        background: #fafafa;
        border-radius: 42px;
    }
}

@media screen and (min-width: 1024px) {
    #landing-page {
        #hero {
            padding: 112px 24px 66px;
            text-align: left;
        }
        #hero-img {
            display: block;
            float: right;
            margin: -360px -66px;
        }
    }
}

@media screen and (max-width: 678px) {
    #landing-page {
        #hero {
            padding: 42px 24px 0;
        }
        #hero-text .header {
            font-size: 28pt;
            font-weight: 500;
            padding: 0 12px;
        }
        #hero-text .header {
            font-weight: 600;
        }
        #hero-text .sub-header {
            font-size: 14pt;
            font-weight: 400;
            padding: 0 12px;
        }
        #subscribe {
            width: calc(100% - 32px);
        }
        #subscribe form {
            margin-bottom: 0;
        }
        #subscribe #email-field {
            display: block;
        }
        #subscribe .cta {
            float: unset;
            width: 100%;
            margin: 12px 0 0 0;
        }
        #subscribe input#subscriber_email {
            width: 100%;
        }
        #subscribe-prompt {
            margin-bottom: 112px;
        }
    }
}