// colors.scss
.primary {
    color: #a83232;
}

.secondary {
    color: #f7ff66;
}

.body-primary {
    color: #a83232;
}

.body-secondary {
    color: #191919;
}

.green {
    color: #56941E;
}

.yellow {
    color: #ffcc00;
}

.red {
    color: #ed1419;
}