#nav {
    position: relative;
    padding: 42px 24px;
    text-align: center;
    z-index: 1;
    .logo {
        display: inline-block;
        img {
            float: left;
            width: 46px;
            margin: 0 8px 0 0;
        }
        h1 {
            margin: 0;
            font-size: 26pt;
        }
    }
}

@media screen and (min-width: 1024px) {
    #nav {
        text-align: left;
        .logo {
            display: block;
            float: left;
            img {
                width: 55px;
                margin: 0 12px 0 0;
            }
            h1 {
                font-size: 32pt;
            }
        }
    }
}